*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.main-container{
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}
.container{
    text-align: center;
    flex-basis: 100%;
    margin: 4px;
}
img{
    width: 100%;
}

@media screen and (width>=600px) {
    .container{
        flex: 1 1 22%;
    }
    
}